NODE_ENV="development"

PORT=3000

== POSTGRES CONFIGS
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345678
DB_NAME=uniplan

#== JWT CONFIGS
JWT_SECRET='something'
JWT_ACCESS_TOKEN_EXPIRATION_TIME='360s'
JWT_REFRESH_TOKEN_EXPIRATION_TIME='1h'

#== GOOGLE OAUTH2
GOOGLE_CLIEND_ID='your-gg-client-id'
GOOGLE_CLIEND_SECRET='your-client-secret'

#== MAIL SERVICE
GOOGLE_APP_PASSWORD='your-app-password'
GOOGLE_MAIL_HOST='smtp.gmail.com'
GOOGLE_MAIL_USER='bris.develop@gmail.com'
GOOGLE_MAIL_FROM='noreply@example.com'

FE_URL='http://something.com'

ALLOW_ORIGIN='http://localhost:3000'
