<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Uni Plan</a>
    </div>
    <p style="font-size:1.1em">Hi, {{name}}</p>
    <p>Thanks for choosing Uni Plan. You are registered account by Google. If you want login by email, this is your default password:</p>
    <div style='display: block; align-items: center; justify-content:center ;width: 100%;text-align: center; align-content: center;'>
      <div style="display: block;align-items: center; width: 50%; margin: 0 25%">
        <a
          href='#'
          style='background: #000; padding: 15px 30px; color: #fff; text-decoration: none; font-weight: bold; display: block;'
        >{{password}}</a>
      </div>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Uni Plan Inc</p>
      <p>Thanh Xuan, Ha Noi</p>
      <p>Viet Nam</p>
    </div>
  </div>
</div>